@model Terminarz.Models.Godzina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Godzina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DzienTygodnia.Dzien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DzienTygodnia.Dzien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GodzinaWizyty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GodzinaWizyty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GodzinaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
