@model IEnumerable<Terminarz.Models.Lekarz>

@{
    ViewBag.Title = "Strona główna -> Lekarze";
    @Styles.Render("~/Style/style.css")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>
        @Html.ActionLink("Dodaj nowego", "Create", null, new { @class = "btn btn-primary" })
        @using (Html.BeginForm("Index", "Lekarz", FormMethod.Get))
        {
        <p>
            Nazwisko: @Html.TextBox("searchLekarz") <br />
            <input type="submit" value="Filter" />
        </p>
    }
        </p>
        @if (User.IsInRole("Admin"))
        {

        }

        <input type="text" value="@ViewBag.IdSpecjalista" class="form-control col-md-12"/>

        <table class="table">

            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.LekarzImieNazwisko)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Miasto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ulica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.DniPrzyjęć)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GodzinyPrzyjęć)
                </th>*@

                <th></th>
                @if (Request.IsAuthenticated)
                {
                    <th></th>
                }

                @if (User.IsInRole("Admin") || User.IsInRole("Rejestrator"))
                {
                    <th>Modyfikuj</th>
                }

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LekarzImieNazwisko)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Miasto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ulica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.DniPrzyjęć)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GodzinyPrzyjęć)
                    </td>*@
                    <td>
                        @Html.ActionLink("Wiecej informacji", "Details", "Lekarz", new { id = item.LekarzId }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink("Wybierz", "Create", "KartaRezerwacji", new { lekarzId = item.LekarzId }, new { @class = "btn btn-primary" })
                    </td>
                    @if (Request.IsAuthenticated)
                    {

                    }

                    @if (User.IsInRole("Rejestrator") || User.IsInRole("Lekarz"))
                    {
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.LekarzId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.LekarzId }, new { @class = "btn btn-default" })
                        </td>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.LekarzId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.LekarzId }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Kasuj", "Delete", new { id = item.LekarzId }, new { @class = "btn btn-danger" })
                        </td>
                    }

                </tr>
            }

        </table>
    </body>
</html>
