@model Terminarz.Models.Usługa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usługa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaUsługi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaUsługi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opłata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opłata)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsługaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
